* {
  font-family: Roboto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #1f2937;
  padding: 10px 100px;
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: white;
  margin-bottom: 50px;
}

.hero {
  flex: 1;
  font-size: 24px;
  color: #f9faf8;
}

.main-img {
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
  padding-bottom: 50px;
}

.main {
  flex: 1;
}

.main-text {
  font-size: 48px;
  font-weight: 900%;
  color: #f9faf8;
}

.img {
  flex: 1;
  background-color: lightgray;
}

.sign-up {
  /* border-radius: 80%; */
  background-color: blue;
  color: #f9faf8;
}

.random-info {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box{
  display: flex;
  gap: 15px;
  /* justify-content: space-around; */
  /* border: 2px red; */
}

.box-shape{
  height: 50px;
  width: 50px;
  border: solid 2px #3882F6;
}

.quote {
  flex: 1;
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 170px;

}

.call-to-action {
  /* flex: 1; */
  padding: 10px 130px;
}

.blue-box{
  background-color: #3882F6;
  height: 100px;

}

footer {
  /* flex: 2; */
  background-color: #1f2937;
}

.footer{
height:150;
}